<div class="comments_content">  
  <% Comment.find_all_by_post_id(post_id, :order => 'CREATED_AT').each do |comment| %>    
    <span style="float:left; width:4%; padding-right:5px;">
      <% unless comment.user.image.nil? %>
        <%= image_tag(comment.user.image, :alt => comment.user.name, :size => '50x50') %>
      <% else %>
        <%= image_tag('/images/profiles/BookPhoto.JPG', :alt => comment.user.name, :size => '50x50') %>
      <% end -%>
    </span>

  <div style="float:left; width:90%; padding-left: 10px;">
    <% if comment.user.role.id == Role::AUTHOR && comment.parent_id != nil %>
      <span style="float:left;">
        <b><%= comment.user.name %> replied</b>
      </span>

      <span style="float:right;">
        on <%= comment.created_at.strftime('%B  %d %Y at %l:%M:%S %P') %>
      </span>
      <br/>

      <span style="float:left;">
        <%= comment.content %>
        <br/>
      </span>
    <% else %>
      <span style="float:left;">
        <b><%= comment.user.name %> said</b>
      </span>

      <span style="float:right;">
        on <%= comment.created_at.strftime('%B  %d %Y at %l:%M:%S %P') %>
      </span>
      <br/>

      <span style="float:left;">
        <%= comment.content %>
        <br/>
      </span>

      <% if signed_in? and author_signed_in? and comment.user.role.id == Role::SUBSCRIBER %>
        <span id="reply_comments_link_div" style="float:right;">
          <%= link_to 'Reply', '', :post_id => comment.post_id, :parent_id => comment.id %>
        </span>

        <br/><br/>
        <span id='<%= "reply_comments_div_#{comment.id}" %>'></span>
      <% end -%>
    <% end -%>    
  </div>
  <hr/>

  <% end -%>
</div>