<div style="font-size: 14px; background:#EEE; padding: 4px;">
  
  <% @cms.each do |cm| %>
    <div>

      <span class="span-3">
        <b>Section</b>
      </span>
      <%= cm.section %><br/>

      <span class="span-3">
        <b>Active</b>
      </span>
      <%= cm.active %><br/>

      <span class="span-3">
        <b>Created At</b>
      </span>
      <%= cm.created_at.strftime('%d %B %Y') %><br/>

      <span class="span-3">
        <b>Updated At</b>
      </span>
      <%= cm.updated_at.strftime('%d %B %Y') %><br/>

      <span class="span-3">
        <b>Content</b>
      </span>
      <%= cm.content.html_safe %>
      <br/><br/>

      <span class="span-3"><%= link_to 'Show Details', cm %></span>
      <span class="span-3"><%= link_to 'Edit', edit_cm_path(cm) %></span>
    </div>
    <hr/>
  <% end -%>

</div>
