<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :maxlength => 30 %>
  </div>
  <br/>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :maxlength => 50 %>
  </div>
  <br/>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, :maxlength => 40 %>
  </div>
  <br/>

  <div class="field">
    <b>Confirmation</b><br/>
    <%= f.password_field :password_confirmation, :maxlength => 40 %>
  </div>
  <br/>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
