<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <span><%= f.label :name %></span><br/>
    <%= f.text_field :name, :maxlength => 30, :style => 'width:300px;', :class => 'simple' %>
  </div>
  <br/>

  <div>
    <span><%= f.label :email %></span><br/>
    <%= f.text_field :email, :maxlength => 50, :style => 'width:300px;', :class => 'simple' %>
  </div>
  <br/><br/>

  <div>
    <span><%= f.label :password %></span><br/>
    <%= f.password_field :password, :maxlength => 40, :style => 'width:300px;', :class => 'simple' %>
  </div>
  <br/><br/>

  <div>
    <b>Confirm Password</b><br/>
    <%= f.password_field :password_confirmation, :maxlength => 40, :style => 'width:300px;', :class => 'simple' %>
  </div>
  <br/>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
