<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id %>
  
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_area :summary, :style => 'width:300px; height: 50px;' %>
  </div>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :style => 'width:600px; height: 150px;' %>
  </div>

  <div class="field">
    <%= f.label :tab %><br />
    <% for tab in Tab.find(:all, :conditions => "name != 'ALL'") do %>
      <%= f.radio_button "tab_id", tab.id %><%= tab.name %>
    <% end -%>
  </div>
  <br/>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
