<h3>Posts <%= link_to ' - New Post', new_post_path if signed_in? && author_signed_in? %></h3>

<table>
  <tr>
    <th>Title</th>
    <th>Created At</th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= link_to post.title, post %></td>
    <td><%= post.created_at.strftime('%m %B %Y') %></td>
    <% if signed_in? && author_signed_in? %>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= button_to "Delete", { :action => "destroy", :id => post.id },
            :confirm => "Are you sure?", :method => :delete %></td>
    <% end -%>
  </tr>
<% end %>
</table>
