<h3>Posts - <%= link_to 'New Post', new_post_path %></h3>

<table>
  <tr>
    <th>Title</th>
    <th>Summary</th>    
    <th>Created At</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.summary %></td>    
    <td><%= post.created_at.strftime('%m %B %Y') %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
