<p id="notice"><%= notice %></p>

<p>
  <span class="span-3">
    <b>Title</b>
  </span>
  <%= @post.title %>
</p>

<p>
  <span class="span-3">
    <b>Summary:</b>
  </span>
  <%= @post.summary %>
</p>

<p>
  <span class="span-3">
    <b>Content:</b>
  </span>
  <%= @post.content.html_safe %>
</p>

<p>
  <span class="span-3">
    <b>Author:</b>
  </span>
  <%= @post.user.name %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
